In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy
import matplotlib.pyplot as plt


from sodapy import Socrata
from config import API_Token

plt.style.use('fivethirtyeight')

%matplotlib inline

## Section 1: Load and First Glance
1. load data through API 
2. dataframe information
3. adjust data types

In [2]:
# API Call
socrata_domain = 'data.sfgov.org,'
socrata_dataset_identifier = '88g8-5mnd'
client = Socrata("data.sfgov.org",API_Token)
results = client.get(socrata_dataset_identifier)

# alternative#1 csv file
# df_origin = pd.read_csv('data/Employee_Compensation.csv')
# alternative#2 json file
# df_origin = pd.read_json('https://data.sfgov.org/resource/88g8-5mnd.json')

df_origin = pd.DataFrame(results)
df = df_origin.copy()
print(df.shape)
df.head(5)

(1000, 22)

,organization_group_code,job_family_code,job_code,year_type,year,organization_group,department_code,department,union_code,union,...,employee_identifier,salaries,overtime,other_salaries,total_salary,retirement,health_and_dental,other_benefits,total_benefits,total_compensation
0,01,1000,1021,Calendar,2013,Public Protection,ADP,ADP Adult Probation,021,"Prof & Tech Engineers - Miscellaneous, Local 21",...,37730,57534.65,0.00,0.00,57534.65,11253.16,11961.34,4532.63,27747.13,85281.78
1,01,1000,1023,Calendar,2013,Public Protection,ADP,ADP Adult Probation,021,"Prof & Tech Engineers - Miscellaneous, Local 21",...,26574,57678.50,0.00,0.00,57678.50,10284.88,7176.80,4755.14,22216.82,79895.32
2,01,1000,1031,Calendar,2013,Public Protection,ADP,ADP Adult Probation,021,"Prof & Tech Engineers - Miscellaneous, Local 21",...,8148,63532.93,0.00,0.00,63532.93,12495.83,12918.24,4702.71,30116.78,93649.71
3,01,1000,1054,Calendar,2013,Public Protection,ADP,ADP Adult Probation,021,"Prof & Tech Engineers - Miscellaneous, Local 21",...,27436,101274.51,0.00,-7058.59,94215.92,19644.45,12918.24,7458.76,40021.45,134237.37
4,01,1000,1062,Calendar,2013,Public Protection,ADP,ADP Adult Probation,021,"Prof & Tech Engineers - Miscellaneous, Local 21",...,37730,5084.00,0.00,0.00,5084.00,1083.90,956.91,387.50,2428.31,7512.31

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   organization_group_code  1000 non-null   object
 1   job_family_code          1000 non-null   object
 2   job_code                 1000 non-null   object
 3   year_type                1000 non-null   object
 4   year                     1000 non-null   object
 5   organization_group       1000 non-null   object
 6   department_code          1000 non-null   object
 7   department               1000 non-null   object
 8   union_code               1000 non-null   object
 9   union                    1000 non-null   object
 10  job_family               1000 non-null   object
 11  job                      1000 non-null   object
 12  employee_identifier      1000 non-null   object
 13  salaries                 1000 non-null   object
 14  overtime                 1000 non-null   object
 15  other_salaries           1000 non-null   object
 16  total_salary             1000 non-null   object
 17  retirement               1000 non-null   object
 18  health_and_dental        1000 non-null   object
 19  other_benefits           1000 non-null   object
 20  total_benefits           1000 non-null   object
 21  total_compensation       1000 non-null   object
dtypes: object(22)
memory usage: 172.0+ KB

In [7]:
# clean up column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
column_name = df.columns.tolist()
print(column_name)
print(df.dtypes)

['organization_group_code', 'job_family_code', 'job_code', 'year_type', 'year', 'organization_group', 'department_code', 'department', 'union_code', 'union', 'job_family', 'job', 'employee_identifier', 'salaries', 'overtime', 'other_salaries', 'total_salary', 'retirement', 'health_and_dental', 'other_benefits', 'total_benefits', 'total_compensation']
organization_group_code    object
job_family_code            object
job_code                   object
year_type                  object
year                       object
organization_group         object
department_code            object
department                 object
union_code                 object
union                      object
job_family                 object
job                        object
employee_identifier        object
salaries                   object
overtime                   object
other_salaries             object
total_salary               object
retirement                 object
health_and_dental          object
other_benefits             object
total_benefits             object
total_compensation         object
dtype: object

In [ ]:
# change key column data type for furtehr analysis

category_column_name = ['organization_group_code', 'job_family_code', 'job_code', 'year_type', 'organization_group', 'department_code', 'department', 
            'union_code', 'union', 'job_family', 'job', ]

Section 1 conclusion:

In [6]:
test_df = df.groupby(['Year Type','Year','Job'])['Salaries','Total Compensation'].mean()
test_df.head(10)

/var/folders/30/kt35bq3n3_b90dxt80z_vjjw0000gn/T/ipykernel_41980/849934878.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  test_df = df.groupby(['Year Type','Year','Job'])['Salaries','Total Compensation'].mean()

                                              Salaries  Total Compensation
Year Type Year Job
Calendar  2013 Account Clerk              40388.399216        61702.154608
               Accountant I               67838.413333        99504.836667
               Accountant II              57121.076629        83004.125506
               Accountant III             67190.154862        94839.112844
               Accountant IV              85711.871500       118490.453333
               Accountant Intern          24530.535614        36561.595965
               Acupuncturist              75411.000000       111214.280000
               Adm, SFGH Medical Center  276831.500000       355107.360000
               Admin Analyst 3            68009.620000        96174.406667
               Administrative Analyst     62668.591644        89979.665274

In [8]:
test_df = df.groupby(['Year Type','Year'])[['Salaries','Total Compensation']].mean()
test_df.head(10)

                    Salaries  Total Compensation
Year Type Year
Calendar  2013  64717.640360        99638.412577
          2014  62261.763051        97717.615926
          2015  63801.845319        98605.356720
          2016  66498.335433       102014.919491
          2017  74770.937352       114479.846099
          2018  76919.412119       118348.406340
          2019  77060.393590       119842.301509
          2020  86018.214281       134258.764395
          2021  90601.774692       142360.177374
Fiscal    2013  62875.983167        96087.879968